<%- include("partials/header") -%>

    <h1 class="header">Magic eight ball</h1>
  
    <div class="eight-ball">
        <div class="view-port">
          <button class="btn btn-outline-danger response">Ask me anything</button>
        </div>
    </div>
<%- include("partials/footer") -%>