<%- include("partials/header") -%>

    <h1 class="header">Magic eight ball</h1>

    <div class="row d-flex flex-row justify-content-center mb-4">
      <div class="col-5">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Will I be rich?" aria-label="Recipient's username" aria-describedby="basic-addon2" required>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary ask-button" type="submit">Ask</button>
        </div>
      </div>
    </div>
    </div>
  
    <div class="eight-ball">
        <div class="view-port">
          <button class="btn btn-outline-danger response">Ask me anything</button>
        </div>
    </div>
<%- include("partials/footer") -%>